*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.classpath
.project
.settings

# intellij
.idea

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/.terraformrc
terraform/override.tf
terraform/override.tf.json
terraform/*.tfplan
terraform/*.tfvars
!terraform/variables.tfvars # Exclude specific shared variables if neede